body   { 
	padding: 0;
	background: #003366;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0px -1px 1px #1C232A;
    color: #3399FF;
} 

.middle {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     display: block;
}

#note-container {
	width: 100%;
	height: 5vw;
}

.note {
	font-size: 40px; font-size: 4vw;
	margin: 0px 6px 0px 6px;
}

p {
	margin-bottom: 2px;
}

button {
	margin-bottom: 5px;
}

.orange_red {
	color: white;
}

h3 {
	color: rgb(210, 210, 210);
}

input[type=range]{
    -webkit-appearance: none;
    margin-top:5px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #9EE;
    margin-top: -4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
    cursor:pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #aaa;
}